{% extends "personal/header.html" %}

{% block content %}

<div class="container">
	<br>
	<h1>Python Developer</h1>
	<p class="lead">Django &bull; Pandas &bull; Numpy &bull; SQLite &bull; HTML &bull; CSS &bull; Bootstrap &bull; Git</p>
	<br>
	<h2>Mathematics <small>Franklin & Marshall College &ndash; 2011</small></h2>
	<ul class="lead">
		<li>Cum Laude</li>
		<li>Franklin & Marshall College Presidential Scholar</li>
		<li>Phi Kappa Sigma Foundation Scholar</li>
	</ul>
	<br>
	<h2>Head of Category Development <small>Cardone Industries &ndash; 2016 to Present</small></h2>
	<p>
		<ul style="padding-left:20px">
			<li>	Develop Pandas based product assortment tool using Excel as a front end to weigh and score multiple data inputs and create store count strategy</li>
			<li>	Create regional assortment strategies for six product divisions for over 10,000 retail locations and hundreds of warehouse distributors</li>
			<li>Develop Selenium based web scraping tools for regular street price reporting of Cardone and competitor products</li>
			<li>Cultivate on-going relationships with customers and tailor strategy recommendations to customers' unique business and distribution models</li>
		</ul>	
	</p>
	<br>
	<h2>Category Development Manager <small>Cardone Industries</small></h2>
	<p>
		
	</p>
	<br>
	<h2>Channel Manager <small>Cardone Industries</small></h2>
	<p>
		
	</p>
	<br>
	<h2>Pricing Analyst <small>Cardone Industries</small></h2>
	<p>
		
	</p>
</div>

{% endblock %}