{% extends "personal/header.html" %}

{% block content %}

<div class="container">
	<br>
	<h1>Python Developer</h1>
	<p class="lead">Django &bull; Pandas &bull; Numpy &bull; SQLite &bull; HTML &bull; CSS &bull; Bootstrap &bull; Git</p>
	<br>
	<h2>Mathematics <small>Franklin & Marshall College</small></h2>
	<p class="lead" style="padding-left:20px">
		Bachelor of Arts awarded cum laude<br>
		<strong>Honors</strong>: Franklin & Marshall College Presidential Scholar, Phi Kappa Sigma Foundation Scholar
	</p>
</div>

{% endblock %}